body{
    font-size: 16px;
}

header{
    display: flex; 
    justify-content: space-between;
    padding: 20px 20px;
}

li{
    display: inline-block;
    pa
}

img{
    height: 80px;
    width: auto;
    

}